# ==========================================
# Configuración del IDE (IntelliJ IDEA / Eclipse)
# ==========================================
.idea/
*.iml
*.iws
.project
.classpath
.settings/

# ==========================================
# Archivos compilados de Java y Maven
# ==========================================
target/
*.class
*.jar
*.war
*.ear

# ==========================================
# Archivos de Logs y Temporales
# ==========================================
*.log
logs/
hs_err_pid*

# ==========================================
# Archivos de sistema operativo
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Archivos de pruebas HTTP locales (Opcional)
# ==========================================
# Descomenta la siguiente línea si no quieres subir tu test-api.http
test-api.5http